/* Images with captions in articles */
.figure {
  width: 100%;
  background-color: $c-text-background;
  box-shadow: $box-shadow;

  & img {
    width: 100%;
    height: auto;
    display: block;
  }

  &--small img {
    width: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.figure__caption {
  color: $c-secondary;
  font-size: 14px;
  text-align: center;
  padding: 0.5em;
}