/* New changes on the page */
.news {
  box-shadow: $box-shadow;
  background-color: $c-text-background;
  padding: 20px;
  width: 100%;

  overflow: auto;
  
  @media screen and (min-width: $bp-large) {
    height: calc(100% - 62px); //odečítám výšku nadpisu sekce
    max-height: 712px; //vychází z maximální výšky levého sloupce
  }
}

.news__text {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

.news__date {
  color: $c-secondary;
  font-size: 18px;
  font-weight: 700;
}