{% include "partials/page-top.njk" %}

      <!-- Main content -->
      <main class="page-content">
        <div class="page-content__inner">
          <section class="page-content__text">
            <p>Jmenuji se Hana a&nbsp;mám ráda Japonsko.</p>

            <p>Zajímat jsem se o&nbsp;něj začala v&nbsp;roce 2007, kdy jsem jakožto správná sova po&nbsp;nocích místo spaní brouzdala rozličnými kanály kabelové televize v&nbsp;bytě mého tehdejšího přítele (a&nbsp;nynějšího manžela), narazila na&nbsp;Animax a&nbsp;zhlédla své první anime. Přestože se&nbsp;nejednalo o žádné mistrovské dílo (zdravím fanoušky Inuyashi), měla jsem pocit, že se mi otevřel úplně nový svět.</p>
            
            <p>U seriálů jsem ale nezůstala a&nbsp;už za&nbsp;pár měsíců po&nbsp;tomto náhodném objevu jsem se v&nbsp;rámci univerzity, kterou jsem v&nbsp;té době studovala, přihlásila na&nbsp;předmět Japonština pro religionisty; ne&nbsp;že by má&nbsp;studia měla cokoli společného s&nbsp;religionistikou, ale tehdy ještě univerzita nenabízela japonštinu pro&nbsp;neoborové studenty a&nbsp;mně se na&nbsp;výjimku podařilo dostat alespoň tam.</p>
            
            <p>Můj zájem o&nbsp;Japonsko se postupně rozšiřoval i&nbsp;do&nbsp;jiných oblastí, až&nbsp;už bylo jasné, že jen co našetřím dost peněz, musím se tam zajet podívat. To se mi povedlo v&nbsp;roce 2011 (půl roku po&nbsp;ničivém tsunami, které spláchlo severní část ostrova Honshu) a&nbsp;od&nbsp;té doby jsem se tam vrátila ještě dvakrát.</p>
            
            <p>Na&nbsp;anime už dnes nekoukám, japonštinu udržuji na&nbsp;základní komunikativní úrovni (bohužel jen velmi základní, ale ráda bych se k&nbsp;jejímu studiu jednou vrátila), ale láska k&nbsp;Japonsku a&nbsp;touha se tam vrátit stále trvá, což byl hlavní impulz pro&nbsp;vznik těchto stránek. Postupem času jsem nasbírala opravdu hodně tipů na&nbsp;to, co v&nbsp;Japonsku vidět, kam se podívat, co zažít, ochutnat, vyzkoušet, a&nbsp;přestože jsem si budovala jakous takous databázi těchto tipů, čistě textová podoba mi v&nbsp;tomto případě příliš nevyhovovala. Proto zde do&nbsp;sekce <a href="/budouci-cesty/">Budoucí cesty</a> plánuji postupně nahrávat informace o&nbsp;místech, kam bych se jednou ráda vydala a&nbsp;viděla je na&nbsp;vlastní oči.</p>

            <h2 id="kontakt">Kontakt</h2>

            {{ content | safe }}
                        
          </section>

        </div>

      </main>

{% include "partials/page-bottom.njk" %}