{% include "partials/page-top.njk" %}

      <!-- Main content -->
      <main class="page-content">
        <div class="page-content__inner">

            {{ content | safe }}

        </div>

      </main>

{% include "partials/page-bottom.njk" %}